.header {
  padding: 14px 0px;
  display: flex;
  align-items: center;

  img {
    height: 40px;
  }

  p {
    color: white;
    margin: 0;
    margin-left: 12px;
    font-size: 22px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 14px 0px;
  .ant-menu {
    display: flex;
    align-items: center;
    background-color: transparent !important;
    border: 0;
    li {
      margin: 0 !important;
      span {
        a {
          color: #fff !important;
        }
      }
      border-bottom: 2px solid transparent;
      transition: all 0.6s ease-in-out;

      &:hover {
        border-bottom: 2px solid #0053c3;
      }
    }

    &.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: transparent !important;
      border-bottom: 2px solid #0053c3;
    }
  }
}
